body {
    text-align: center;
    background-image: url(../img/pink-clouds.jpeg);
    background-size: 1400px

    ;
    font-family: 'Press Start 2P', cursive;
}
* { cursor: url(../img/ghostface.cur), default}
h1 {
    font-size: 70pt;
}

}
.photo {
    position: relative;
    left: 310pt;
}
.white-text {
    color: white;

}
.chart {
    color: violet;
    font-size: 15pt;
    position: relative;
    bottom: 30pt;
}
.boxes { 
    color: white;
    font-size: 40pt;
}
.box-text { 
    color: black;
    font-size: 15pt;
    position: relative;
    bottom: 43pt;
    
    
    

}
.list {
    color: violet;
    font-size: 15pt;
    position: relative;
    bottom: 45pt;
}
.Yeezys {
 position: relative;
 bottom: 34pt;
}

.blog {
    text-align: left;
    font-size: 25pt;
    position: relative;
    bottom: 153pt;
    right: 220pt;
}
.soundcloud {
    text-align: left;
    font-size: 25pt;
    position: relative;
    bottom: 40pt;
    left: 255pt;
}
.instagram {
    text-align: right;
    font-size: 25pt;
    position: relative;
    bottom: 208px;
    right: 0px;
}
.spotify {
    text-align: right;
    font-size: 25pt;
    position: relative;
    bottom: 90px;
    right: 310px;
}
.facebook {
    text-align: right;
    font-size: 25pt;
    position: relative;
    right: 120px;
    top: 100pt;
}
.home { font-size: 25pt;
    position: relative;
   top: 700pt;
}

p {
    color: white;
}
a {
    color: white;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

