body {
    text-align: center;
    background-image: url(../img/pink-clouds.jpeg);
    background-size: 1400px

    ;
    font-family: 'Press Start 2P', cursive;
}
* { cursor: url(../img/ghostface.cur), default}
h1 {
    font-size: 70pt;
}
.learninglink {
    text-align: left;
    font-size: 25pt;
    position: relative;
    top: 80pt;
    left: 200pt;
}
.boxeslink {
    text-align: right;
    font-size: 25pt;
    position: relative;
    top: 200pt;
    left: 200pt;
}
.backhome {
    font-size: 25pt;
    position: relative; 
    top: 330pt; 
    right: 190pt;
}


.white-text {
    color: white;

}
.chart {
    color: violet;
    font-size: 15pt;
    position: relative;
    bottom: 30pt;
}
.questions {
    color: white;
    font-size: 15pt;
    position: relative;
}
.answers {
    color: black;
    font-size: 15pt;
    position: relative;
}
.boxes { 
    color: white;
    font-size: 40pt;
}
.box-text { 
    color: black;
    font-size: 15pt;
    position: relative;
    bottom: 43pt;
    
    
    

}
.list {
    color: violet;
    font-size: 15pt;
    position: relative;
    bottom: 45pt;
}
.Yeezys {
 position: relative;
 bottom: 34pt;
}

.blog {
    font-size: 3rem;
    margin-left: 1em;
}
.soundcloud {
    text-align: right;
    font-size: 3rem;
    
}
.instagram {
    text-align: right;
    font-size: 3rem;
    position: relative;
    bottom: 208px;
}
.spotify {
    text-align: left;
    font-size: 3rem;
    position: relative;
    margin-left: 1em;
}
.facebook {
    text-align: right;
    font-size: 3rem;
    position: relative;
}
.bloghome { font-size: 3rem;
    position: relative;
   top: 700pt;
}
.bloghome2 { 
    font-size: 3rem;
    position: relative;
    top: 50pt;
}
.backsprint3{
    font-size: 3rem;
    position: relative;
    top: 400pt;
}
.culturallink { 
    font-size: 3rem;
    position: relative;
    right: 480pt;
    top: 150pt;
    
}
.sprint3header {
    color: white;
    font-size: 3rem;
}
.eqtext {
    color: black;
    font-size: 3rem;
}

p {
    color: white;
}
a {
    color: white;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}



.soundcloud-container {
    width:95%;
    text-align:right;
}

.blog-container {
    width:90%;
    text-align:left;
}

.facebook-container {
    width:90%;
    text-align:right;
}

.spotify-container {
    width:90%;
    text-align:left;
}

.instagram-container {
    width:95%;
    text-align:right;
}
